name: Deploy to Koyeb

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Trigger Koyeb Redeploy
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.KOYEB_API_TOKEN }}" \
            -H "Content-Type: application/json" \
            "https://app.koyeb.com/v1/services/32897f07-9bde-442d-9580-82bf0da153b1/redeploy"